
.custom-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    
    .card-title {
      font-size: 1.5rem;
      text-align: center;
      color: #333;
      margin-bottom: 10px;
    }
    
    .card-content {
      p {
        font-size: 1rem;
        line-height: 1.5;
        color: #555;
        margin-bottom: 15px;
      }
      
      .sub-heading {
        font-size: 1.2rem;
        color: #444;
        font-style: italic;
        margin-top: 15px;
      }
      
      

      
      text-align: center;
    }
  }
  

/* ---------------------------------- */

ion-title {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.logo-imagen {
    width: 450px;
    height: 150px;
}

.fondo-con-lineas {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

ion-title {
    font-family: cursive, sans-serif;
}