<ion-header [translucent]="true">
  <ion-toolbar  class="header-white-background">
    <img src="assets/images/logo.png" alt="Descripción de la imagen" class="logo-imagen">
    <ion-title class="titulo-centrado"></ion-title>
  </ion-toolbar>
</ion-header>


<div class="fondo-con-lineas" id="fondoConLineas">
  <ion-content [fullscreen]="true">
    <ion-header >
      <ion-toolbar  color="danger">
        <ion-title size="large">Acerca de la aplicación</ion-title>
      </ion-toolbar>    
    </ion-header>

    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title class="card-title">¡Bienvenido a nuestra aplicación móvil!</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <p>Desarrollamos esta aplicación que revoluciona la reserva de salas de taquillas de la biblioteca para estudiantes.</p>
        <p>Con acceso en tiempo real, reservas rápidas y notificaciones automáticas, optimizamos el uso de recursos y simplificamos la planificación.
          Una solución que no solo ahorra tiempo, sino que mejora la experiencia académica para todos.</p>
        <h2 class="sub-heading">Desarrollado por estudiantes del 7mo ciclo de la carrera de ingeniería de sistemas.</h2>
      </ion-card-content>
    </ion-card>
    

  </ion-content>

</div>

