<ion-header [translucent]="true">
  <ion-toolbar class="header-white-background">
    
    <ion-title class="titulo-centrado"></ion-title>
  </ion-toolbar>
</ion-header>

<div class="fondo-con-lineas" id="fondoConLineas"> 
  <ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title size="large">Elige tu Sala de Estudio</ion-title>
      </ion-toolbar>    
    </ion-header>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 1')">
              <ion-card-content>
                
                <p class="categoria-nombre">Sala 1</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 3')">
              <ion-card-content>
                
                <p class="categoria-nombre">Sala 3</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 5')">
              <ion-card-content>
                
                <p class="categoria-nombre">Sala 5</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 7')">
              <ion-card-content>
                
                <p class="categoria-nombre">Sala 7</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 9')">
              <ion-card-content>
               
                <p class="categoria-nombre">Sala 9</p>
              </ion-card-content>
            </ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 2')">
              <ion-card-content>  
                
                <p class="categoria-nombre">Sala 2</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 4')">
              <ion-card-content>
                
                <p class="categoria-nombre">Sala 4</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 6')">
              <ion-card-content>
                
                <p class="categoria-nombre">Sala 6</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 8')">
              <ion-card-content>
                
                <p class="categoria-nombre">Sala 8</p>
              </ion-card-content>
            </ion-button>
          </ion-card>

          <ion-card class="categoria-card">
            <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 10')">
              <ion-card-content>
               
                <p class="categoria-nombre">Sala 10</p>
              </ion-card-content>
            </ion-button>
          </ion-card>
        </ion-col>
        
        <ion-card class="categoria-carde">
          <ion-button fill="clear" expand="full" (click)="navigateToHorariosSb('Sala 11')">
            <ion-card-content>
              
              <p class="categoria-nombre">Sala 11</p>
            </ion-card-content>
          </ion-button>
        </ion-card>

      </ion-row>
    </ion-grid>
  </ion-content>
</div>
