.date-container {
  text-align: center;
  font-size: 1.2em;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 25px;

}

.BtonA {
  --background: #154b8a;
  --background-hover: #8191ec;
  --color: #ffffff;
  width: 160px;
  height: 60px;
  border-radius: 10px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
}

.BtonE {
  margin-left: auto;
  color: White;
  --background: #cd1010;
  width: 30px;
}




#boton1 {
  background-color: red;
}

#botonReservar {
  margin-top: 20px; // Añadido margen superior para separación
}

ion-card {
  margin: 30px;
  padding: 10px;
  --background: var(--ion-card-background, #ffffff00);
}


.max-limit-message {
  color: var(--ion-color-danger, #f53d3d);
  font-size: 0.9em;
  margin-top: 10px;
  text-align: center;
}

.students-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.students-header p {
  margin: 0;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  
}



/*---------------------------------------------------------------------------*/



.custom-label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.custom-input {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/*---------------------------------------------------------------------------*/

ion-title {
  display: block; 
  margin: 0 auto; 
  text-align: center; 
}

.logo-imagen {
  width: 450px; 
  height: 150px; 
}

.fondo-con-lineas {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1; 
}

ion-title {
  font-family: cursive, sans-serif; 
}

