<ion-content>
  <ion-button fill="clear" class="back-button" routerLink="/login">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <div class="d-flex-center">
    <form [formGroup]="formsb" class="auth-form" (ngSubmit)="submitsb()" (keypress.enter)="submitsb()">
      <app-custom-input
        autocomplete="email"
        [control]="formsb.controls.emailsb"
        type="email"
        label="Correo"
      ></app-custom-input>

      <div class="validators" *ngIf="formsb.controls.emailsb.errors && formsb.controls.emailsb.touched">
        <div *ngIf="formsb.controls.emailsb.errors?.['required']">El correo es requerido</div>
        <div *ngIf="formsb.controls.emailsb.errors?.['email']">Ingrese un correo válido</div>
      </div>

      <ion-button expand="block" color="danger" mode="ios" class="submit" type="submit" [disabled]="formsb.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>