.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(0, 0, 0);
    font-size: 24px;
  }
  
  .d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ff6f61, #d34a4a);
    animation: backgroundFade 5s infinite alternate;
  }
  
  .auth-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: slideIn 1s ease-out;
    max-width: 400px; /* Ajusta el ancho máximo del formulario */
    width: 100%; /* Asegura que el formulario ocupe el 100% del ancho disponible */
    margin: 0 10px; /* Agrega márgenes laterales */
  }

  .animated-input {
    animation: inputFadeIn 1.5s ease-in-out;
  }
  
  .animated-button {
    animation: buttonPulse 2s infinite;
  }
  
  @keyframes backgroundFade {
    from { background: linear-gradient(45deg, #b87272, #6881c5); }
    to { background: linear-gradient(45deg, #b87272, #6881c5); }
  }
  
  @keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes inputFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes buttonPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }